-- Fix follow_ups table columns
ALTER TABLE public.follow_ups ADD COLUMN IF NOT EXISTS question TEXT;
ALTER TABLE public.follow_ups ADD COLUMN IF NOT EXISTS due_at TIMESTAMPTZ;
ALTER TABLE public.follow_ups DROP COLUMN IF EXISTS trigger_at;

