-- 1. Add columns to reminders
ALTER TABLE public.reminders ADD COLUMN IF NOT EXISTS snooze_count INT DEFAULT 0;
ALTER TABLE public.reminders ADD COLUMN IF NOT EXISTS weather_condition TEXT;

-- 2. Habits tables
CREATE TABLE IF NOT EXISTS public.habits (
  id BIGSERIAL PRIMARY KEY,
  chat_id BIGINT NOT NULL,
  title TEXT NOT NULL,
  active BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.habit_logs (
  id BIGSERIAL PRIMARY KEY,
  habit_id BIGINT REFERENCES public.habits(id) ON DELETE CASCADE,
  chat_id BIGINT NOT NULL,
  date_logged DATE NOT NULL,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(habit_id, date_logged)
);

GRANT SELECT, INSERT, UPDATE, DELETE ON public.habits TO anon, authenticated;
GRANT ALL ON public.habits TO service_role;
GRANT SELECT, INSERT, UPDATE, DELETE ON public.habit_logs TO anon, authenticated;
GRANT ALL ON public.habit_logs TO service_role;

ALTER TABLE public.habits ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.habit_logs ENABLE ROW LEVEL SECURITY;

DO \$\$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'habits' AND policyname = 'Open access to habits') THEN
    CREATE POLICY "Open access to habits" ON public.habits FOR ALL USING (true) WITH CHECK (true);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'habit_logs' AND policyname = 'Open access to habit_logs') THEN
    CREATE POLICY "Open access to habit_logs" ON public.habit_logs FOR ALL USING (true) WITH CHECK (true);
  END IF;
END \$\$;
