-- 1. Gamification updates to users
ALTER TABLE public.users ADD COLUMN IF NOT EXISTS points INT DEFAULT 0;
ALTER TABLE public.users ADD COLUMN IF NOT EXISTS streak_days INT DEFAULT 0;
ALTER TABLE public.users ADD COLUMN IF NOT EXISTS last_productive_day DATE;
ALTER TABLE public.users ADD COLUMN IF NOT EXISTS badges TEXT[] DEFAULT '{}';

-- 2. Countdowns table
CREATE TABLE IF NOT EXISTS public.countdowns (
  id BIGSERIAL PRIMARY KEY,
  chat_id BIGINT NOT NULL,
  title TEXT NOT NULL,
  target_date TIMESTAMPTZ NOT NULL,
  message_id BIGINT NOT NULL,
  active BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMPTZ DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_countdowns_active ON public.countdowns(active);

-- 3. Quick Notes table
CREATE TABLE IF NOT EXISTS public.quick_notes (
  id BIGSERIAL PRIMARY KEY,
  chat_id BIGINT NOT NULL,
  text TEXT NOT NULL,
  active BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMPTZ DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_quicknotes_active ON public.quick_notes(active);

GRANT SELECT, INSERT, UPDATE, DELETE ON public.countdowns TO anon, authenticated;
GRANT ALL ON public.countdowns TO service_role;
GRANT SELECT, INSERT, UPDATE, DELETE ON public.quick_notes TO anon, authenticated;
GRANT ALL ON public.quick_notes TO service_role;

ALTER TABLE public.countdowns ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.quick_notes ENABLE ROW LEVEL SECURITY;

DO \$\$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'countdowns' AND policyname = 'Open access to countdowns') THEN
    CREATE POLICY "Open access to countdowns" ON public.countdowns FOR ALL USING (true) WITH CHECK (true);
  END IF;
END \$\$;

DO \$\$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'quick_notes' AND policyname = 'Open access to quick_notes') THEN
    CREATE POLICY "Open access to quick_notes" ON public.quick_notes FOR ALL USING (true) WITH CHECK (true);
  END IF;
END \$\$;
