-- Add follow_ups table
CREATE TABLE IF NOT EXISTS public.follow_ups (
  id BIGSERIAL PRIMARY KEY,
  chat_id BIGINT NOT NULL,
  topic TEXT NOT NULL,
  trigger_at TIMESTAMPTZ NOT NULL,
  active BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

GRANT SELECT, INSERT, UPDATE, DELETE ON public.follow_ups TO anon, authenticated;
GRANT ALL ON public.follow_ups TO service_role;
ALTER TABLE public.follow_ups ENABLE ROW LEVEL SECURITY;
DO \$\$ BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'follow_ups' AND policyname = 'Open access to follow_ups') THEN
    CREATE POLICY "Open access to follow_ups" ON public.follow_ups FOR ALL USING (true) WITH CHECK (true);
  END IF;
END \$\$;
